.center {
  text-align: center;
}
html, body{
  background-color: #3C4BA5;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;

}

.foodlist {
  border: 2px solid #2ecc71;
  background: #3C4BA5;
  border-radius: 24px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: bottom;
  align-content: bottom;
  }

  .profile {
    display: inline-block;
    align-self: flex-end;
  }

  .imagedisplay{
    border-radius: 10%;
  }

  .button{
    border-radius: 24px;
    border: 2px solid #2ecc71;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}
